#pr_nature 
{
   height:200px;
   width: 100%;
   border: 1px solid red;
 cursor: pointer;
   /* background-image: url("https://gnbdevcdn.s3-ap-southeast-1.amazonaws.com/Marketing/websitecart.png");  */
   background-image: url("https://gnbdevcdn.s3-ap-southeast-1.amazonaws.com/Marketing/websitecart.png");

}

#pr_continue{
    width: 200px;
border-radius: 10px;
border-color: rgb(104, 137, 47);
padding: 8px 6px;
color: #000000;
font: 14px CeraPRO-Light,CeraPRO-Regular;
margin: 0px 12px 0px 0px;
cursor: pointer;
font-size: 16px;
font-weight: normal;
background-color:#ffffff;
}
#pr_proceed{
    
    border-radius: 10px;
    background-color: #92BE4D;
    color: white;
    padding: 10px 62px 10px;
    font: 14px CeraPRO-Regular;
    cursor: pointer;
  font-size: 18px;
  font-weight: normal;
}
#pr_proceed:hover{
    background-color: #2f430d;
}
#pr_get
{
    /* color: #B71761;
    font: 16px CeraPRO-Light,CeraPRO-Regular;
    margin: 4px 0px 0px;
    padding: 10px 0px 5px;
    font-weight: ;
    font-size:18px; */
    border-top: 4px solid #dedede;
    color: #b71761;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 4px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
#pr_name{
    height: 70px;
    width: 100%;
     display: flex; 
     justify-content: space-between; 
     border-bottom: 3px solid #92BE4D;
}
 .pr_div{
     height: 60px;
     width: 100%;
    display: flex;
    justify-content: space-between;
    
}

