#adislider1{
    width: 98%;
    margin: auto;
   
}
.carousel-item img{
    border-radius: 10px;
    /* border: 1px solid blue; */
}
.carousel-indicators button{
    font-size: 10px;
}
#adi2box{
    width: 98%;
    display: flex;

    margin: auto;
    /* gap: 18px; */
    margin-top: 20px;
    justify-content:space-between
    
}
#adi2box>div >img{
    border-radius: 10px;
    box-shadow: 2px 5px #a09191bd;

}